/*
navbar-default personalizada en:
http://work.smarchal.com/twbscolor/
https://work.smarchal.com/twbscolor/4.0.0/scss/4040409f4400adffdffff0d81
*/

.navbar {
    background-color: #404040;
  }
  .navbar .navbar-brand {
    color: #adffdf;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #fff0d8;
  }
  .navbar .navbar-text {
    color: #adffdf;
  }
  .navbar .navbar-text a {
    color: #fff0d8;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #fff0d8; 
  }
  .navbar .navbar-nav .nav-link {
    color: #adffdf;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #fff0d8;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #404040;
    border-color: #9f4400;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #adffdf;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #fff0d8;
    background-color: #9f4400;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #9f4400;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #fff0d8;
    background-color: #9f4400;
  }
  .navbar .navbar-toggle {
    border-color: #9f4400;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #9f4400;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #adffdf;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #adffdf;
  }
  .navbar .navbar-link {
    color: #adffdf;
  }
  .navbar .navbar-link:hover {
    color: #fff0d8;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #adffdf;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fff0d8;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fff0d8;
      background-color: #9f4400;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #adffdf;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fff0d8;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fff0d8;
      background-color: #9f4400;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #adffdf;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fff0d8;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fff0d8;
      background-color: #9f4400;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #adffdf;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fff0d8;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fff0d8;
      background-color: #9f4400;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #adffdf;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fff0d8;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fff0d8;
    background-color: #9f4400;
  }