html body {
    background-color: #212426;
    color: beige;
}

 .container {
    background-color: #212426;
    color: beige;
 }

/* .dataTables_wrapper {
    background-color: #212426;
    color: beige;
} */

.alert{
margin: 0;
}

.row .dataTables_info .paging_simple_numbers .dataTables_paginate {
    background-color: #2c3135;
    color: beige;
}

.paginate_button .dataTables_length .dataTables_filter {
    background-color: #2c3135;
    color: beige;
}

body nav .breadcrumb .active {
    background-color: #454d55;
    color: beige;
}
body nav .breadcrumb {
    background-color: #454d55;
    color: beige;
}



div .alert .alert-success .alert-danger {
    margin: 0;
    background-color: #4f555a;
}

.dataTables_wrappern .paginate_button  .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper {
    color: beige;
}


a.paginate_button {
    color: cadetblue;
}

a.paginate_button.current {
    color: black;
}

.paginate_button.current:hover {

}

